.container-small-card{
    width: 700px;
    margin-bottom: 15px;
   
}

.container-small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card-photo > img{
    width: 115px;
    /*min-width: 200px;*/
    height: 150px;
    margin-right: 20px;
}

.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1:hover{
    scale: 1.15;
}

.small-card-title > h1{
    font-size: 20px;
    margin-top: 15px;
    
}