.container-content{
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.content-cover > img{
    width: 500px;
    min-width: 500px;
    height: 300px;

    border: 4px solid gray;
}

.content-description{
    margin-top: 15px;
}

.content-description > p{
    margin-top: 20px;
    color: gray;
}