

<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles-main">
        <app-big-card 
            Id="1"
            photocover="https://m.media-amazon.com/images/I/41J3FApF8yL.jpg"
            cardTitle="A Paciente Silenciosa"
            cardDescription ="
            Alicia Berenson escreve um diário para colocar suas ideias em ordem. Ele é tanto uma válvula de escape quanto uma forma de provar ao seu adorado marido que está bem. Ela não consegue suportar conviver com a ideia de que está deixando Gabriel preocupado, de que está lhe causando algum mal.

            Alicia Berenson tinha 33 anos quando matou seu marido com cinco tiros. E nunca mais disse uma palavra.
            
            O psicoterapeuta forense Theo Faber está convencido de que é capaz de tratar Alicia, depois de tantos outros falharem. E, se ela falar, ele será capaz de ouvir a verdade?">
        </app-big-card>
        
    </div>

    <div class="articles-others">
        <app-small-card 
            Id="2"
            photoCover="https://m.media-amazon.com/images/I/41SHU2f6JLL._AC_UF1000,1000_QL80_.jpg"
            cardTitle="O homem de giz">
        </app-small-card>

        <app-small-card
            Id="3"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg8BLYQ5H26myeC0ydeuIAN0kKQ9x08XC61g&usqp=CAU"
            cardTitle="A Biblioteca da meia noite">
        </app-small-card>

        <app-small-card
            Id="4"
            photoCover="https://m.media-amazon.com/images/I/51MNHrdBruL.jpg"
            cardTitle="Seu paciente favorito">
        </app-small-card>
    </div>
</div>
